.link {
  text-decoration: none;
  color: #2f3e46;
  font-weight: bold;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: 1px;
}

.link:hover,
.link:active {
  background: linear-gradient(90deg, #84a98c, #52796f);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.active {
  background: linear-gradient(90deg, #f9572a, #ff8a05);
  text-decoration: underline;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
