.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 90%;
  padding: 2rem 0;
}

.slideshow {
  display: none;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #6c584c;
  font-size: 1.5rem;
  text-align: center;
  padding: 1rem 0;
  width: 100%;
}

.hero h1 {
  margin: 0 auto;
  font-size: 3rem;
  font-weight: bold;
  text-transform: capitalize;
  background: linear-gradient(90deg, #f9572a, #ffc905);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.cta {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  gap: 1rem;
  text-align: center;
  padding: 1rem 0;
  width: 100%;
}

.cta a {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  background: linear-gradient(90deg, #f9572a, #ff9b05);
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
}

.cta a:hover,
.cta a:active {
  background: linear-gradient(90deg, #f9b241, #fd4715);
  color: rgb(255, 255, 255);
}

.cta a:first-child {
  background: linear-gradient(90deg, #f9b241, #fd4715);
}

.cta a:first-child:hover,
.cta a:first-child:active {
  background: linear-gradient(90deg, #f9572a, #ff9b05);
}

@media (min-width: 768px) {
  .header {
    flex-direction: row;
    justify-content: center;
    gap: 3rem;
    margin: 3rem auto;
    max-width: 75rem;
    padding: 0;
  }

  .slideshow {
    display: block; 
    width: 100rem;
    height: 25rem;
  }

  .hero h1 {
    font-size: 5rem;
  }

  .cta {
    flex-direction: row;
  }
}
