.header {
  gap: 1.5rem; 
  margin: 2rem auto 3rem auto; 
  width: 95%; 
  max-width: 75rem;
  color: #386641;
  font-size: 1.25rem; 
  text-align: center;
}

.highlight {
  background: linear-gradient(90deg, #f9572a, #ff8a05);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.header p {
  margin: 0;
  padding: 10px 20px;
  text-align: center;
}

.cta a {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.5rem 1rem; 
  border-radius: 0.5rem;
  background: linear-gradient(90deg, #f9572a, #ff9b05);
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
}

@media (max-width: 600px) {
  .header {
    gap: 1rem; 
    margin: 1.5rem auto 2.5rem auto; 
    width: 100%; 
    font-size: 1rem; 
  }

  .header p {
    padding: 8px 15px; 
  }

  .cta a {
    padding: 0.5rem 0.75rem; 
  }
}
